1 VERSIONINFO
FILEVERSION     0,0,1,0
PRODUCTVERSION  0,0,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "040904E4"
    BEGIN
      VALUE "CompanyName", "My Company Name"
      VALUE "FileDescription", "Po-Male-Ka"
      VALUE "FileVersion", "0.0.1"
      VALUE "InternalName", "PMK"
      VALUE "LegalCopyright", "DezerteR"
      VALUE "OriginalFilename", "Po-Male-Ka.exe"
      VALUE "ProductName", "Po-Male-Ka"
      VALUE "ProductVersion", "0.0.1"
    END
  END
END
GLFW_ICON ICON "./icon.ico"
